%div
  %h3 Link to a Page:
  %select{:size => 5}
    = ordered_list(@home_page)
  %input#choose_page{:type => "submit", :value => "Choose Page"}

%div
  %h3 Link to a File:
  %form{:method => "get"}
    %label{:for => "title"} Search:
    = text_field_tag :title, params[:title]
    %input{:type => "submit", :value => "Go"}
  
  %table#file_list
    %thead
      %tr
        %th 
        %th Title
        %th Type
    %tbody
      - @assets.each do |asset|
        %tr
          %td.img= link_to image_tag(asset.thumbnail(:icon)), asset.asset.url
          %td= link_to asset.title, asset.asset.url
          %td= asset.asset_content_type

.pages= will_paginate @assets

%span.clearer